/*Common CSS Styles */

*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .1s ease-in-out; /* transition */
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
}
img {
    display: block;
    width: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "RobotoRegular";
    font-weight: normal;
    letter-spacing: 1px;
}
body {
    font-family: "RobotoRegular";
    font-size: 14px;
    line-height: 1;
    color: #535353;
    background: #ffffff;
}
/* Clear */
header:after, .container:after, footer:after, .widget-post-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
}
/* Width grid */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
}

/* Htader */
.header {
    width: 100%;
    box-shadow: 3px 3px 1px rgba(0,0,0,.05);
    margin-bottom: 30px;
    position: relative;
}
.wrap-header {
    background: #e2e2e2;
    background: linear-gradient(to top, #ffffff, #e2e2e2);
}
.logo {
    font-family: "RobotoBold";
    font-size: 48px;
    color: #2d769d;
    float: left;
    margin: 30px 30px 0 0;
    font-weight: 600;
}
.logo-icon-search {
    float: left;
    margin-left: 30px;
}
.logo-icon {
    margin-left: 30px;
}
.logo-icon li {
    display: inline-block;
}

.logo-icon li:nth-child(even):after {
    content: '|';
    margin-left: 10px;
    font-size: 20px;
    color: #0077a0;
}
.logo-icon li:nth-child(even):before {
    content: '|';
    margin-right: 10px;
    font-size: 20px;
    color: #0077a0;
}
.logo-icon li:nth-child(odd):first-child {
    margin-right: 10px;
}
.logo-icon li:nth-child(odd):last-child {
    margin-left: 10px;
}
.logo-icon img {
    width: 20px;
    display: inline-block;
    vertical-align: bottom;
    margin: 20px 0 0 0;
}
.logo-icon p {
    display: inline-block;
}

.hotline-basket {
    float: right;
}
/* Search form */
#searchform {
    clear: both;
    text-align: center;
    position: relative;
    margin: 15px 0 10px 35px;
}
#searchform input {
    width: 100%;
    font-style: italic;
    outline: none;
    color: #9e9e9c;
    padding: 8px;
    border: 2px solid #ffe555;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#searchform button {
    position: absolute;
    height: 35px;
    width: 35px;
    border: none;
    background: transparent;
    right: 0;
    bottom: 0;
}
#searchform input:focus {
    outline: 2px solid #ebebe3;
}

/*Hot line*/
.hot-line {
    overflow: hidden;
}

.icon-hot-line {
    float: left;
    width: 60px;
    margin: 6px 10px 0 0;
}
.content-hot-line {
    float: right;
    margin: 10px 0 0 5px;
}
.title-hot-line {
    color: #0077a0;
    font-weight: 600;
}
.phone-hot-line {
    margin-top: 7px;
    font-size: 20px;
    font-weight: 600;
}

/* Basket */
.basket {
    overflow: hidden;
    margin: 10px 0 10px 10px;
    border-top: 1px solid #ccc;
    padding-top: 5px;
}
.basket img {
    float: left;
    width: 30px;
}
.content-basket {
    float: left;
    margin: 5px 0 0 29px;
}

/* Top menu */
#top-menu {
    padding: 5px 0 5px 50px;
    margin: 0 0 20px 0;
    background: #0f2f84;
}
#top-menu li {
    display: inline-block;
    padding: 10px 25px 10px 25px;
    border-right: 1px solid;
}
#top-menu li:last-child {
    border-right: none;
}
#top-menu a {
    color: #ffffff;
    font-size: 20px;
}
#top-menu a:hover {
    color: #ffe267;
    border-bottom: 2px solid;
}
/* кнопка переключения меню, появляющаяся при ширине 768px */
.nav-toggle {
    display: none;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: #ef5a42;
    cursor: pointer;
}
.nav-toggle span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}
.nav-toggle span:before {
    top: -10px;
}
.nav-toggle span:after{
    bottom: -10px;
}

